<ion-view title="Home" hide-nav-bar="true">
	
	<ion-content>
		<ion-slide-box on-slide-changed="slideHasChanged($index)">
  		<ion-slide>
   		 	<div class="slider-blue">
   		 		<div class="container">
   		 		<p>Witaj<br>
   		 			w aplikacji educkacyjnej<br>
   		 			poświęconej kinesiotapingowi
   		 		</p>
   		 		</div>

   		 	</div>
  		</ion-slide>
		<ion-slide>
		    <div class="slider-blue">
   		 		<div class="container">
   		 		<p>Pamiętaj! <br>
   		 			autor nie ponosi odpowiedzialności <br>
   		 			za ewentualne szkody poniesione podczas <br>
                  stosowania zawartych w aplikacji technik
   		 		</p>
   		 		</div>

   		 	</div>
		</ion-slide>
		<ion-slide>
		    <div class="slider-blue">
   		 		<div class="container">
   		 		<p>W razie jakichkolwiek zastrzeżeń <br>
   		 			skontaktuj się z nami poprzez formularz kontaktowy
   		 		</p>
   		 		</div>

   		 	</div>
		</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>

