<ion-view title="Home" hide-nav-bar="true">
	
	<ion-content>
		<ion-slide-box on-slide-changed="slideHasChanged($index)">
  		<ion-slide>
   		 	<div class="slider-blue">
   		 		<div class="container">
   		 		<p>komunikat powitalny<br>
   		 			komunikat powitalny<br>
   		 			komunikat powitalny
   		 		</p>
   		 		</div>

   		 	</div>
  		</ion-slide>
		<ion-slide>
		    <div class="slider-blue">
   		 		<div class="container">
   		 		<p>komunikat o tym <br>
   		 			ze wszystko robisz <br>
   		 			na własną odpowiedzalność
   		 		</p>
   		 		</div>

   		 	</div>
		</ion-slide>
		<ion-slide>
		    <div class="slider-blue">
   		 		<div class="container">
   		 		<p>W razie jakichkolwiek zastrzeżeń <br>
   		 			skontaktuj się z nami poprzez formularz kontaktowy
   		 		</p>
   		 		</div>

   		 	</div>
		</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>

