<ion-tabs class="tabs-striped tabs-color-positive">
	<ion-tab title="Home" icon="ion-home" href="#/tab/home">
	<ion-nav-view name="home-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="kinesio" icon="ion-android-list" href="#/tab/list">
	<ion-nav-view name="list-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="encyklopedia" icon="ion-ios-book" href="#/tab/encyklopedia">
	<ion-nav-view name="encyklopedia-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="mapy" icon="ion-android-map" href="#/tab/mapa">
	<ion-nav-view name="map-tab"></ion-nav-view>
	</ion-tab>	

	<ion-tab title="kontakt" icon="ion-email" href="#/tab/kontakt">
	<ion-nav-view name="kontakt-tab"></ion-nav-view>
	</ion-tab>
</ion-tabs>