/* Empty. Add your own CSS if you like */
.slider {
	text-align: center;
}

.slider-pager {
	bottom: 10vh;
}


.slider-red {
	background-color: red;

}
.slider-blue {
	border-color: #0c60ee;
    background-color: #387ef5;
    background-image: linear-gradient(rgb(41, 106, 212) 0%, rgb(78, 142, 247) 100%);
    color: #fff;
	
}
.slider-yellow {
	background-color: yellow;	
}

div.slider-text p{
	text-align: center;
	margin: auto;
	max-width: 90%;
	margin: 0;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

div.container4 {
	height: 100vh;
    position: relative
}

div.container4 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
